/dev/
.venv/
__pycache__
.vscode/launch.json
/assets/*config.yml
/assets/config.yml

# building
*.egg-info
build/*

# testing
/test-env/

# distrib
/dist/
twitchschedulerpy/modules/core old/
twitchschedulerpy/modules/example_app/
/scripts/
twitchschedulerpy/modules/twitch_scheduler/core_ext/ExternalHandler.py
